<a href="https://colab.research.google.com/github/MilanL96/Intro-to-Data-Science-Assignment/blob/main/Data_prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**England School Information**

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving england_school_information.csv to england_school_information.csv

In [ ]:
import io
esi = pd.read_csv(io.BytesIO(uploaded['england_school_information.csv']))

In [ ]:
esi.head()

      URN          LANAME   LA  ...  GENDER            RELCHAR          ADMPOL
0  100000  City of London  201  ...   Mixed  Church of England  Not applicable
1  100001  City of London  201  ...   Girls               None  Not applicable
2  100002  City of London  201  ...   Mixed  Church of England  Not applicable
3  100003  City of London  201  ...    Boys               None  Not applicable
4  100008          Camden  202  ...   Mixed     Does not apply  Not applicable

[5 rows x 24 columns]

In [ ]:
esi = esi[(esi.ISSECONDARY>0)]

In [ ]:
esi = esi.drop(columns=['LANAME', 'ESTAB', 'LAESTAB', 'SCHNAME', 'STREET', 'LOCALITY', 'ADDRESS3',	'TOWN', 'POSTCODE', 'SCHSTATUS', 'OPENDATE', 'CLOSEDATE', 'MINORGROUP', 'SCHOOLTYPE', 'ISPOST16', 'ISPRIMARY', 'ISSECONDARY','AGELOW','AGEHIGH','ADMPOL'])

In [ ]:
esi

          URN   LA GENDER            RELCHAR
1      100001  201  Girls               None
2      100002  201  Mixed  Church of England
3      100003  201   Boys               None
41     100049  202  Mixed     Does not apply
42     100050  202  Girls     Does not apply
...       ...  ...    ...                ...
25276  148135  391  Mixed     Does not apply
25287  148179  845  Mixed     Does not apply
25288  148185  925  Mixed               None
25289  148186  808  Mixed               None
25290  148187  330  Mixed               None

[6396 rows x 4 columns]

**England Census**

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving england_census.csv to england_census.csv

In [ ]:
import io
ec = pd.read_csv(io.BytesIO(uploaded['england_census.csv']))

In [ ]:
ec.head()

      URN     LA ESTAB  ... NUMFSM  NUMFSMEVER  PNUMFSMEVER
0  100000  201.0  3614  ...   32.0        38.0         16.2
1  100001  201.0  6005  ...    NaN         NaN          NaN
2  100002  201.0  6006  ...    NaN         NaN          NaN
3  100003  201.0  6007  ...    NaN         NaN          NaN
4  100005  202.0  1048  ...   27.0         NaN          NaN

[5 rows x 22 columns]

In [ ]:
ec['PNUMFSM'] = (ec.NUMFSM/ec.NOR)*100

In [ ]:
ec.head()

      URN     LA ESTAB  ... NUMFSMEVER  PNUMFSMEVER    PNUMFSM
0  100000  201.0  3614  ...       38.0         16.2  11.228070
1  100001  201.0  6005  ...        NaN          NaN        NaN
2  100002  201.0  6006  ...        NaN          NaN        NaN
3  100003  201.0  6007  ...        NaN          NaN        NaN
4  100005  202.0  1048  ...        NaN          NaN  20.300752

[5 rows x 23 columns]

In [ ]:
ec=ec.drop(columns=['ESTAB','SCHOOLTYPE','NOR','NORG','NORB','TSENELSE','TSENELK','NUMEAL','NUMENGFL','NUMUNCFL','NUMFSM','NUMFSMEVER'])

In [ ]:
ec

          URN     LA  PNORG  ...  PNUMUNCFL  PNUMFSMEVER    PNUMFSM
0      100000  201.0   49.5  ...        0.4         16.2  11.228070
1      100001  201.0  100.0  ...        NaN          NaN        NaN
2      100002  201.0   41.3  ...        NaN          NaN        NaN
3      100003  201.0    0.0  ...        NaN          NaN        NaN
4      100005  202.0   47.4  ...        0.0          NaN  20.300752
...       ...    ...    ...  ...        ...          ...        ...
23937  146826  845.0   45.4  ...        0.0         36.1  22.820513
23938  146827  928.0   50.2  ...        0.0         29.0  18.707483
23939     NAT    NaN   49.0  ...        0.2         23.0  15.769811
23940     NAT    NaN   49.8  ...        0.5         27.7  14.086034
23941     NAT    NaN   27.8  ...        0.3         50.3  38.646930

[23942 rows x 11 columns]

**England abs**

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving england_abs.csv to england_abs.csv

In [ ]:
import io
abs = pd.read_csv(io.BytesIO(uploaded['england_abs.csv']))

In [ ]:
abs.head()

    LA ESTAB       URN  PERCTOT PPERSABS10
0  201  3614  100000.0      2.6        3.4
1  202  2000  136807.0      4.3         11
2  202  2001  139837.0      3.8        4.4
3  202  2002  140686.0      4.6       12.1
4  202  2019  100008.0      4.2        7.3

In [ ]:
abs=abs.drop(columns=['ESTAB'])

In [ ]:
abs

        LA       URN  PERCTOT PPERSABS10
0      201  100000.0      2.6        3.4
1      202  136807.0      4.3         11
2      202  139837.0      3.8        4.4
3      202  140686.0      4.6       12.1
4      202  100008.0      4.2        7.3
...    ...       ...      ...        ...
21212  938  126170.0     17.9       41.3
21213  938  135814.0     14.1       57.8
21214  NAT       NaN      4.0        8.2
21215  NAT       NaN      5.5       13.7
21216  NAT       NaN     10.1       28.8

[21217 rows x 4 columns]

**KS4 Provisional**

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving england_ks4provisional.csv to england_ks4provisional.csv

In [ ]:
import io
ks4prov = pd.read_csv(io.BytesIO(uploaded['england_ks4provisional.csv']))

In [ ]:
ks4prov.head()

   RECTYPE    LEA   ESTAB       URN  ... PTEBACC_94  PTEBACC_95 PT5EM_94  P8_BANDING
0        1  201.0  6007.0  100003.0  ...        NaN         NaN      NaN         NaN
1        1  201.0  6005.0  100001.0  ...        NaN         NaN      NaN         NaN
2        4  201.0     NaN       NaN  ...        NaN         NaN      NaN         NaN
3        1  202.0  4285.0  100053.0  ...      36.8%       26.5%    62.5%           3
4        2  202.0  7137.0  100092.0  ...       0.0%        0.0%     0.0%           5

[5 rows x 25 columns]

In [ ]:
ks4prov=ks4prov.drop(columns=['RECTYPE','ESTAB','SCHNAME','ICLOSE','NFTYPE','P8MEA_ORIG','P8CILOW_ORIG','P8CIUPP_ORIG','TP8ADJ'])

In [ ]:
ks4prov

        LEA       URN      TPUP  ... PTEBACC_95 PT5EM_94 P8_BANDING
0     201.0  100003.0       NaN  ...        NaN      NaN        NaN
1     201.0  100001.0       NaN  ...        NaN      NaN        NaN
2     201.0       NaN       NaN  ...        NaN      NaN        NaN
3     202.0  100053.0     136.0  ...      26.5%    62.5%          3
4     202.0  100092.0      17.0  ...       0.0%     0.0%          5
...     ...       ...       ...  ...        ...      ...        ...
5647  938.0  126137.0       NaN  ...        NaN      NaN        NaN
5648  938.0  139109.0     184.0  ...      25.5%    71.2%          3
5649  938.0       NaN    8002.0  ...      16.2%    61.4%          2
5650    NaN       NaN  605874.0  ...      15.7%    55.4%        NaN
5651    NaN       NaN  542831.0  ...      17.0%    60.0%        NaN

[5652 rows x 16 columns]

KS4 Pupdest

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving england_ks4-pupdest.xlsx to england_ks4-pupdest.xlsx

In [ ]:
import io
ks4pup = pd.read_excel(io.BytesIO(uploaded['england_ks4-pupdest.xlsx']))

In [ ]:
ks4pup.head()

  RECTYPE    LEA  ...  COHORT_NONDIS_17  OVERALL_DESTPER_NONDIS_17
0       1  202.0  ...               NaN                        NaN
1       1  202.0  ...                61                       0.92
2       1  202.0  ...                86                       0.97
3       1  202.0  ...                36                       0.97
4       1  202.0  ...                83                       0.98

[5 rows x 82 columns]

In [ ]:
ks4pup=ks4pup[['URN','LEA','OVERALL_DESTPER','NOT_SUSTAINEDPER','UNKNOWNPER','OVERALL_DESTPER_DIS','NOT_SUSTAINEDPER_DIS','UNKNOWNPER_DIS']]

In [ ]:
ks4pup

           URN    LEA  ... NOT_SUSTAINEDPER_DIS UNKNOWNPER_DIS
0     137181.0  202.0  ...                 0.06           0.01
1     100049.0  202.0  ...                 0.11           0.01
2     100050.0  202.0  ...                 0.04           0.01
3     100051.0  202.0  ...                 0.09           0.06
4     100052.0  202.0  ...                 0.13              0
...        ...    ...  ...                  ...            ...
3872  136114.0  938.0  ...                 0.07              0
3873  126170.0  938.0  ...                 SUPP           SUPP
3874  135814.0  938.0  ...                 SUPP           SUPP
3875       NaN  938.0  ...                  0.1           0.02
3876       NaN    NaN  ...                  0.1           0.01

[3877 rows x 8 columns]

Merge

In [ ]:
df = pd.

SyntaxError: ignored

In [ ]:
df